<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome, {{ firstName }} {{ lastName }}!</h1>
    <p>Your email: {{ email }}</p>
    <p>This is a sample email template.</p>
    <p>You can include dynamic content using Twig's templating syntax.</p>
    <p>Slug: {{ slug }}</p>
  </body>
</html>
